.taskWrapper {
    width: 50%;
    display: block;
    margin: .1% auto;
}

.searchForm {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.searchForm > mat-form-field {
    margin: 1% 2%;
}

app-task {
    display: block;
    transition-property: all;
    transition-duration: 1s;
    // background: yellow;
}