.taskWrapper {
    width: 50%;
    display: block;
    margin: 2% auto;
}

.searchForm {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.searchForm > mat-form-field {
    margin: 1% 2%;
}