<div class="flex flex_center">

  <form [formGroup]="toDoForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field class="task">
      <input matInput placeholder="I should do..." formControlName="task">
    </mat-form-field>

    <mat-form-field class="taskOption">
      <mat-label>Expires In (optional)</mat-label>
      <mat-select formControlName="expiresOn">
        <mat-option *ngFor="let option of taskExpirationOption" [value]="option">
          {{option.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"> Create Task </button>
  </form>
</div>

<app-task-container [taskList]="tasks"></app-task-container>