/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_center {
    justify-content: center;
}


body, app-task-container {
    overflow-x: hidden;
}