.taskStatusIndicator {
    width: 100%;
    height: 10px;
};

.wrapper {
    display: block;
    margin: 1% auto;
    border-radius: 5px;
    padding: 1% 2%;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all 1s;
}

.expired {
    background: linear-gradient(45deg, #e01e1e, #3a4645);
}

.on-going {
    background: linear-gradient(45deg, #0c7f8a, #8c3f3f);
}

.completed {
    background: linear-gradient(45deg, #12AF5A, #3a4645);
}

.orange {
    background: linear-gradient(45deg, #c56009, #3a4645);
}
// .green::before {
//     content: "";
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     right: 0px;
//     height: 20px;
//     background: green;
// }

// .orange::before {
//     content: "";
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     right: 0px;
//     height: 20px;
//     background: orange;
// }

// .red::before {
//     content: "";
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     right: 0px;
//     height: 20px;
//     background: red;
// }

.iconWrapper {
    padding: 1%;
    border-radius: 50%;
    width: 40px;
    position: absolute;
    right: 14px;
    top: 15px;
    cursor: pointer;
}

.iconWrapper > i {
    color: white;
    transition-property: transform;
    transition-duration: 500ms;
    margin: 1% 8%;

}

.iconWrapper >  i:hover {
    transform: scale(1.3);
}

